/* 
    Created on : 08/01/2019, 10:53:44
    Author     : kyomei
*/

/* button */
.btn-default {
    background: #2A6E64;
    color: #fff;
    //font-family: 'Montserrat';
    &:hover {
        background: #318f7e; 
        color:#fff;
    }
}
/* breadcrumb */
.area-breadcrumb{
    background-color: #F4F4F4;
}
.breadcrumb {
    background-color: #F4F4F4; 
    padding-top: 20px;
    li a {
        color: #2a6e64;
    }
}