
/* footer website */
footer {
    color: $color2;
    background-color: $color1;
    padding-top: 20px;
    .copyright {
        background-color: $dark;
        font-size: 16px;
        text-align: center;
        color: $color2;
        padding-top:5px;
        a{
            color: $color2;
        }
    }
    h1{
        font-size: 2em;
    }
    iframe {
        margin-top: 5px;        
        margin-bottom: 20px;
    }
}