
/* navbar website */
.navbar {
    background: $color1 !important;
    padding: 0;
}
.nav-link {
    padding: .9rem 1rem;
}

/* button da navbar mobile */
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    /* border-color: rgba(255,255,255,.1); */
    background: #1b5850;
    margin-right: 5px;
}

.navbar-nav li {
    float: left;
}
/*
.navbar-dark .navbar-nav .active>.nav-link{
    color: $white;
    border-bottom: 2px $white solid;
}


nav.navbar-dark ul.navbar-nav a:hover { border-color: #f14444; }
*/


/*
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #29FFE2;
    text-shadow: 0px 0px 1px #000;
}
.navbar-dark .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: red;
    //background-color: #005a28de;
    border-bottom: #29FFE2 3px solid;
}*/
.navbar-dark .navbar-nav>.active>a:nth-child(1), .navbar-dark .navbar-nav>.active>a:hover:nth-child(1){
    border-bottom: #C4E17F 3px solid;
}
.navbar-dark .navbar-nav>.active>a:nth-child(2), .navbar-dark .navbar-nav>.active>a:hover:nth-child(2){
    border-bottom: red 3px solid;
}

 
/*.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}*/
