
/* navbar website */
.navbar {
    background: $color1 !important;
    padding: 0;
}
.nav-link {
    padding: .9rem 1rem;
}

/* button da navbar mobile */
.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    /* border-color: rgba(255,255,255,.1); */
    background: #1b5850;
    margin-right: 5px;
}

/*
.navbar-dark .navbar-nav .active>.nav-link{
    color: $white;
    border-bottom: 2px $white solid;
}


nav.navbar-dark ul.navbar-nav a:hover { border-color: #f14444; }
*/
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #29FFE2;
    text-shadow: 0px 0px 1px #000;
}
.navbar-dark .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: red;
    //background-color: #005a28de;
    border-bottom: #29FFE2 3px solid;
}