/*$roxo: #8844EE;
$azul: blue;
body {
    color: $azul;
    font-size: 1.5em;
    text-align: center;
}
*/


/* Imports google fonts */
@import url('https://fonts.googleapis.com/css?family=Charm');
@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato');

@import "variables";
@import "components";
@import "header";
@import "carousel";
@import "navbar";
@import "card_cursos";

@import "footer";