/*$roxo: #8844EE;
$azul: blue;
body {
    color: $azul;
    font-size: 1.5em;
    text-align: center;
}
*/
/* Imports google fonts */
@import url("https://fonts.googleapis.com/css?family=Charm");
@import url(https://fonts.googleapis.com/css?family=Advent+Pro);
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
/* width */
::-webkit-scrollbar {
  width: 10px; }

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; }

/* 
    Created on : 08/01/2019, 10:53:44
    Author     : kyomei
*/
/* button */
.btn-default {
  background: #28a745;
  color: #fff; }
  .btn-default:hover {
    background: #318f7e;
    color: #fff; }

/* hr */
.hr-custom {
  border: 2px solid #28a745;
  border-top: none;
  text-align: center !important;
  width: 100px;
  margin: 0 auto; }

/* breadcrumb */
.area-breadcrumb {
  background-color: #F4F4F4; }

.breadcrumb {
  background-color: #F4F4F4;
  padding-top: 20px; }
  .breadcrumb li a {
    color: #2a6e64; }

/* Make the image fully responsive */
.carousel-inner {
  height: auto !important; }

.carousel-inner img {
  width: 100%;
  height: auto; }

.carousel-item {
  min-height: 100px !important;
  height: auto !important; }

/* btn animate */
.btn-animate {
  -vendor-animation-duration: 4s !important;
  -vendor-animation-delay: 2s !important;
  -vendor-animation-iteration-count: infinite !important;
  animation-duration: 4s !important;
  animation-delay: 2s !important;
  animation-iteration-count: infinite !important; }

/* paddings */
.padding10 {
  padding: 10px; }

.padding20 {
  padding: 20px; }

.padding30 {
  padding: 30px; }

.padding40 {
  padding: 40px; }

.padding50 {
  padding: 50px; }

.padding-top10 {
  padding-top: 10px; }

.padding-top20 {
  padding-top: 20px; }

.padding-top30 {
  padding-top: 30px; }

.padding-top40 {
  padding-top: 40px; }

.padding-top50 {
  padding-top: 50px; }

.padding-bottom10 {
  padding-bottom: 10px; }

.padding-bottom20 {
  padding-bottom: 20px; }

.padding-bottom30 {
  padding-bottom: 30px; }

.padding-bottom40 {
  padding-bottom: 40px; }

.padding-bottom50 {
  padding-bottom: 50px; }

/* margins */
.margin-top10 {
  margin-top: 10px; }

.margin-top20 {
  margin-top: 20px; }

.margin-top30 {
  margin-top: 30px; }

.margin-top40 {
  margin-top: 40px; }

.margin-top50 {
  margin-top: 50px; }

.margin-top60 {
  margin-top: 60px; }

.margin-top70 {
  margin-top: 70px; }

.margin-top80 {
  margin-top: 80px; }

.margin-top90 {
  margin-top: 90px; }

.margin-top100 {
  margin-top: 100px; }

.margin-bottom10 {
  margin-bottom: 10px; }

.margin-bottom20 {
  margin-bottom: 20px; }

.margin-bottom30 {
  margin-bottom: 30px; }

.margin-bottom40 {
  margin-bottom: 40px; }

.margin-bottom50 {
  margin-bottom: 50px; }

.margin-bottom60 {
  margin-bottom: 60px; }

.margin-bottom70 {
  margin-bottom: 70px; }

.margin-bottom80 {
  margin-bottom: 80px; }

.margin-bottom90 {
  margin-bottom: 90px; }

.margin-bottom100 {
  margin-bottom: 100px; }

/* borders */
.form-cart .form-group label {
  color: #333;
  font-family: 'Advent Pro';
  font-size: 16px; }

.form-cart .form-group {
  border-bottom: 1px solid #ddd;
  padding: 20px 0px; }

.form-cart .form-group:last-child {
  border: none; }

.back-white {
  background: #fff; }

.color-green {
  color: #60A917; }

.color-red {
  color: #F44336; }

.btn-custom {
  background: #104547;
  border-bottom: 2px #0f3d46 solid;
  color: white; }

.btn-custom:hover {
  background: #0f3d46;
  color: white; }

/* Backgrounds colors */
.bg-green-thema {
  background: #2A6E64;
  color: #fff;
  font-family: 'Montserrat'; }

.bg-green-thema:hover {
  background: #318f7e;
  color: #fff; }

.bg-red {
  background: #F44336;
  color: #fff; }

.bg-teal {
  background: #00aba9;
  color: #fff; }

.bg-green {
  background: #60A917;
  color: #fff; }

.bg-blue {
  background: #3E65FF;
  color: #fff; }

.bg-blue-dark {
  background: #1f62ac;
  color: #fff; }

.bg-orange {
  background: #F2552C;
  color: #fff; }

.bg-white {
  background: #fff;
  color: #343a40; }

.bg-primary {
  background: #007BFF;
  color: #fff; }

.bg-success {
  background: #28A745;
  color: #fff; }

.bg-info {
  background: #17A2B8;
  color: #fff; }

.bg-danger {
  background: #DC3545;
  color: #fff; }

.bg-secondary {
  background: #6C757D;
  color: #fff; }

.bg-dark {
  background: #343a40;
  color: #fff; }

.panel {
  border: 1px solid #dbdbdb;
  border-radius: 5px; }

.border-custom {
  border: 1px solid #dbdbdb; }

.pointer {
  cursor: pointer; }

/* 
    Created on : 08/01/2019, 15:53:44
    Author     : kyomei
*/
body {
  font-family: "Open Sans", sans-serif; }

/* style page home */
section.area-option-course {
  background-color: #f4f4f4;
  font-family: "Quicksand", sans-serif;
  padding: 30px 0; }
  section.area-option-course hr {
    margin-bottom: 100px; }
  section.area-option-course h2 {
    font-weight: bold;
    color: #28a745;
    margin-bottom: 20px;
    text-align: center; }
  section.area-option-course .card-home {
    position: relative;
    padding: 40px 20px 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 3px #2a6e64 solid;
    margin-bottom: 50px; }
  section.area-option-course .icone {
    background: #2a6e64;
    color: white;
    position: absolute;
    top: -50px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  section.area-option-course .descricao {
    text-align: center; }
    section.area-option-course .descricao h3 {
      font-size: 22px;
      line-height: 50px;
      color: #116b5f;
      font-family: "Quicksand", sans-serif;
      font-weight: bold; }
    section.area-option-course .descricao p {
      font-size: 16px;
      font-family: "Quicksand", sans-serif;
      font-weight: bold;
      color: #666; }

/* style page quem-somos */
section.area-about {
  padding: 44px 0; }
  section.area-about h1 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: #28a745;
    margin: 20px 0; }
  section.area-about p {
    text-align: justify;
    font-family: 'Advent Pro', sans-serif;
    font-size: 1.4em;
    line-height: 1.6; }

/* style page fale-conosco */
section.area-contact {
  padding: 24px 0; }
  section.area-contact h1 {
    color: #28a745;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: "Lato", sans-serif; }
  section.area-contact h2 {
    color: #28a745;
    font-size: 1.2rem;
    font-weight: bold; }
  section.area-contact p {
    font-size: 1rem; }
  section.area-contact label {
    font-weight: bold; }

/* style page mural */
section.area-mural {
  background: #eee;
  font-family: "Segoe UI"; }
  section.area-mural .timeline {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative; }
  section.area-mural .timeline:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 5px;
    background: #2d353c;
    left: 20%;
    margin-left: -2.5px; }
  section.area-mural .timeline > li {
    position: relative;
    min-height: 50px;
    padding: 20px 0; }
  section.area-mural .timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px; }
  section.area-mural .timeline .timeline-time .date,
  section.area-mural .timeline .timeline-time .time {
    display: block;
    font-weight: 600; }
  section.area-mural .timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px; }
  section.area-mural .timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #242a30; }
  section.area-mural .timeline .timeline-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px; }
  section.area-mural .timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #d9e0e7;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #2d353c;
    transition: border-color 0.2s linear; }
  section.area-mural .timeline .timeline-body {
    margin-left: 23%;
    margin-right: 17%;
    background: #fff;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px; }
  section.area-mural .timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 20px; }
  section.area-mural .timeline .timeline-body > div + div {
    margin-top: 15px; }
  section.area-mural .timeline .timeline-body > div + div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px; }
  section.area-mural .timeline-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px; }
  section.area-mural .timeline-header .userimage {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0; }
  section.area-mural .timeline-header .username {
    font-size: 16px;
    font-weight: 600; }
  section.area-mural .timeline-header .username,
  section.area-mural .timeline-header .username a {
    color: #2d353c; }
  section.area-mural .timeline img {
    max-width: 100%;
    display: block; }
  section.area-mural .timeline-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px; }
  section.area-mural .timeline-content:after,
  section.area-mural .timeline-content:before {
    content: '';
    display: table;
    clear: both; }
  section.area-mural .timeline-title {
    margin-top: 0; }
  section.area-mural .timeline-footer {
    background: #fff;
    border-top: 1px solid #e2e7ec;
    padding-top: 15px; }
  section.area-mural .timeline-footer a:not(.btn) {
    color: #575d63; }
  section.area-mural .timeline-footer a:not(.btn):focus,
  section.area-mural .timeline-footer a:not(.btn):hover {
    color: #2d353c; }
  section.area-mural .timeline-likes {
    color: #6d767f;
    font-weight: 600;
    font-size: 12px; }
  section.area-mural .timeline-likes .stats-right {
    float: right; }
  section.area-mural .timeline-likes .stats-total {
    display: inline-block;
    line-height: 20px; }
  section.area-mural .timeline-likes .stats-icon {
    float: left;
    margin-right: 5px;
    font-size: 9px; }
  section.area-mural .timeline-likes .stats-icon + .stats-icon {
    margin-left: -2px; }
  section.area-mural .timeline-likes .stats-text {
    line-height: 20px; }
  section.area-mural .timeline-likes .stats-text + .stats-text {
    margin-left: 15px; }
  section.area-mural .timeline-comment-box {
    background: #f2f3f4;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 25px; }
  section.area-mural .timeline-comment-box .user {
    float: left;
    width: 34px;
    height: 34px;
    overflow: hidden;
    border-radius: 30px; }
  section.area-mural .timeline-comment-box .user img {
    max-width: 100%;
    max-height: 100%; }
  section.area-mural .timeline-comment-box .user + .input {
    margin-left: 44px; }
  section.area-mural .lead {
    margin-bottom: 20px;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.4; }
  section.area-mural .text-danger, section.area-mural .text-red {
    color: #ff5b57 !important; }

@media only screen and (max-width: 768px) {
  header {
    padding-top: 0px !important; }
    header .contact strong {
      font-size: 18px !important; }
    header .contact div {
      margin-top: 0px !important; }
    header .img-logo {
      display: block !important;
      margin: auto !important;
      padding-top: 7px !important; } }
header {
  padding-bottom: 7px;
  padding-top: 7px; }
  header .contact {
    text-align: right; }
    header .contact strong {
      font-size: 24px;
      font-family: 'Bree Serif', sans-serif;
      color: #28a745; }
    header .contact div {
      line-height: 17px;
      margin-top: 20px; }

.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* navbar website */
.navbar {
  background: #28a745 !important;
  padding: 0; }

.nav-link {
  padding: .9rem 1rem; }

/* button da navbar mobile */
.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  /* border-color: rgba(255,255,255,.1); */
  background: #1b5850;
  margin-right: 5px; }

.navbar-nav li {
  float: left; }

/*
.navbar-dark .navbar-nav .active>.nav-link{
    color: $white;
    border-bottom: 2px $white solid;
}


nav.navbar-dark ul.navbar-nav a:hover { border-color: #f14444; }
*/
/*
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #29FFE2;
    text-shadow: 0px 0px 1px #000;
}
.navbar-dark .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: red;
    //background-color: #005a28de;
    border-bottom: #29FFE2 3px solid;
}*/
.navbar-dark .navbar-nav > .active > a:nth-child(1), .navbar-dark .navbar-nav > .active > a:hover:nth-child(1) {
  border-bottom: #C4E17F 3px solid; }

.navbar-dark .navbar-nav > .active > a:nth-child(2), .navbar-dark .navbar-nav > .active > a:hover:nth-child(2) {
  border-bottom: red 3px solid; }

/*.nav li:hover:nth-child(8n+1), .nav li.active:nth-child(8n+1){
  border-bottom: #C4E17F 3px solid;
}
.nav li:hover:nth-child(8n+2), .nav li.active:nth-child(8n+2){
  border-bottom: #F7FDCA 3px solid;
}
.nav li:hover:nth-child(8n+3), .nav li.active:nth-child(8n+3){
  border-bottom: #FECF71 3px solid;
}
.nav li:hover:nth-child(8n+4), .nav li.active:nth-child(8n+4){
  border-bottom: #F0776C 3px solid;
}
.nav li:hover:nth-child(8n+5), .nav li.active:nth-child(8n+5){
  border-bottom: #DB9DBE 3px solid;
}
.nav li:hover:nth-child(8n+6), .nav li.active:nth-child(8n+6){
  border-bottom: #C49CDE 3px solid;
}
.nav li:hover:nth-child(8n+7), .nav li.active:nth-child(8n+7){
  border-bottom: #669AE1 3px solid;
}
.nav li:hover:nth-child(8n+8), .nav li.active:nth-child(8n+8){
  border-bottom: #62C2E4 3px solid;
}*/
/* footer website */
footer {
  color: #ffffff;
  background-color: #28a745;
  padding-top: 20px; }
  footer .copyright {
    background-color: #343A40;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding-top: 5px; }
    footer .copyright a {
      color: #ffffff; }
  footer h1 {
    font-size: 2em; }
  footer iframe {
    margin-top: 5px;
    margin-bottom: 20px; }

/*# sourceMappingURL=style.css.map */
